.body_bgc {
  background-color: #222D32;
}
.panel .panel_title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.mt_150 {
  margin-top: 150px;
}
