a:link,
a:visited,
a:hover,
a:active {
   text-decoration: none;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.red {
   color: red;
}

.mt_20 {
   margin-top: 20px;
}

.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}

//侧边栏
.sidebar {
   width: 180px;
   height: 100%;
   background-color: #222D32;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   transition: all 1s;
   &.remove_l {
      left: -180px;
   }
   .sidebar_title {
      height: 50px;
      line-height: 50px;
      background-color: #367FA9;
      text-align: center;
      font-size: 24px;
      a {
         display: block;
         color: #fff;
      }
   }
   .img_box {
      width: 180px;
      height: 180px;
      padding-top: 30px;
      img {
         width: 80px;
         height: 80px;
         border-radius: 50%;
         display: block;
         margin: 0 auto;
      }
      p {
         height: 40px;
         line-height: 40px;
         text-align: center;
         font-size: 18px;
         color: #fff;
      }
   }
   .sidebar_nav li a {
      height: 40px;
      line-height: 40px;
      padding-left: 40px;
      display: block;
      color: #fff;
      border-left: 3px solid transparent;
   }
   .sidebar_nav i {
      margin-right: 5px;
   }
   .sidebar_nav li .child a {
      padding-left: 60px;
   }
}

//右侧部分
.main {
   width: 100%;
   padding-left: 180px;
   padding-top: 50px;
   transition: all 1s;
   &.remove_l {
      padding-left: 0px;
   }
   .main_herder {
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: #3C8DBC;
      position: fixed;
      left: 0;
      top: 0;
      padding-left: 180px;
      transition: all 1s;
      a {
         width: 50px;
         height: 50px;
         font-size: 18px;
         color: white;
         text-align: center;
      }
      &.remove_l {
         padding-left: 0px;
      }
   }
   .breadcrumb {
      margin-top: 20px;
   }
   .echarts_1,
   .echarts_2 {
      width: 48%;
      height: 400px;
   }
}